<form action='/teams' method='post'>
  <input type="text" name="team_name" placeholder="Team name">
  <input type="text" name="team_country" placeholder="Team's home country">
  <input type="submit" value="submit">
</form>
