<p><%= @team.team_name %> from <%= @team.team_country %></p>

<form method="post" action="/teams/<%= @team.id %>/delete">
    <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Team">
</form>

<p><a href="/teams/<%= @team.id %>/edit">Edit Team</a></p>
<p><a href="/players/new">Create a Player for the Team</a></p>
<p>Log out <a href="/logout">here</a></p>
