<p>Welcome, <%= current_user.username %></p>

<p><% @teams.each do |team|%>
  <p><%= team.team_name %> of <%= team.team_country %></p>
<% end %></p>

<p>See your Teams <a href="/users/show">here</a> or add a new one <a href="/teams/new">here</a></p>

<p>Log out <a href="/logout">here</a></p>
