<form action='/players' method='post'>
  <input type="text" name="player_name" placeholder="Player name">
  <input type="text" name="age" placeholder="Player age">
  <input type="text" name="player_country_of_origin" placeholder="Player's home country">
  <input type="submit" value="submit">
</form>
