<p>Welcome, <%= current_user.username %></p>

<p><% @players.each do |player|%>
  <%= player.player_name %>
  <%= player.player_age %>
  <%= player.player_country_of_origin %>
<% end %></p>

<p>Log out <a href="/logout">here</a></p>
